@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700,300italic,400italic,700italic|Antic|Raleway:100);

h1 { font: 64px "Josefin Slab"; }
h2 { font: 32px "Raleway"; font-weight:bold; }

a { text-decoration: none; }

nav ul{
	float: right;
	list-style: none;
	overflow: auto;
}

nav ul li{
	float: left;
	display: block;
}

nav ul li a{
	margin: 0 8px;
}
.hidden{
	display: none;
}
