/*

808080
3D3D3D
535354
8B042F
0B0B0B

*/
* {
	margin:0;
	padding:0;
}
body {
	background: #808080;
	color:#fff;
}
#buildings {
	width:960px;
	margin: 0 auto;
	height: 100%;
	background: #535354;
}
.floor {
	background: #3D3D3D;
}
.building {
	background: #0B0B0B;
}