<!doctype HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul>
            {% if user %}
                <li>
                    Hi, {{ user.username }}.
                </li>
                <li>
                    <a href="{% url auth_logout %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url auth_login %}">Login</a>
                </li>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
