<!doctype HTML>
<html>
	<head>
		<title>Rooms -- Index {in progress}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/960.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/init.js"></script>
	</head>
	<body>
		<div class="container_12">
			<header>
				<h1 style="display:inline">Rooms.</h1>
				<h2 style="display:inline">it helps you reserve space. that's it.</h2>
				<nav class="grid_12">
					<ul>
						<li><a href="#home">Home</a></li>
						<li><a href="#browse">Browse Venues</a></li>
						<li><a href="#inbox">Inbox</a></li>
					</ul>
				</nav>
			</header>

			<div class="clear"></div>

			<div id="home" class="page">
				<div class="grid_8"><p></p>
					<p>This is the index page.</p></div>
				<div class="grid_4"><h3><a href="#reserve">Reserve space &gt;&gt;</a></h3></div>
			</div>
			<div class="clear"></div>
			<div id="browse" class="page hidden" >
				<div class="grid_4"> <div class="roomblock"> <p>This is one venue, called . Its name is very long. There's probably supposed to be an image here. I don't even know.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>This is another venue. Venue 2's name is long too, but not as long as that of venue 1. Just kidding, it is as long! Whoooo!</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 3. Lorem ipsum dolor sit amet consectecur adipiscing elit. Nulla suscipit velit quis orci posuere tincidunt.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 4.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 5.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 6.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 7.</p> </div></div>
				<div class="grid_4"> <div class="roomblock"> <p>Venue 8.</p> </div></div>
			</div>
			<div class="clear"></div>
			<div id="inbox" class="page hidden">
				<div class="grid_1">Thing</div>
				<div class="grid_10">Subject? Or the whole text of the notification?</div>
				<div class="grid_1">Date</div>
				<div class="clear"></div><br />

				<div class="grid_1"><input type="checkbox" /></div>
				<div class="grid_10">You got that room you wanted!</div>
				<div class="grid_1">Today</div>
				<div class="clear"></div>

				<div class="grid_1"><input type="checkbox" /></div>
				<div class="grid_10">This dude has requested a room from you!</div>
				<div class="grid_1">3h ago</div>
				<div class="clear"></div>

				<div class="grid_1"><input type="checkbox" /></div>
				<div class="grid_10">You sent a room request to suchandso for suchandsuch.</div>
				<div class="grid_1">Yesterday</div>
				<div class="clear"></div>

			</div>

			<div class="clear"></div>

			<footer>
				<p>Created by <a href="http://danhakimi.com">Daniel Hakimi</a>, Alex Gaynor, Mark Dube and Curtis Kellty.</p>
			</footer>

			<div class="clear"></div>
		</div>
	</body>
</html>
