<html>
    <head>
        <title>Rooms -- Index {in progress}</title>
        <script type="text/javascript" src="{{ STATIC_URL }}js/test.js"></script>
    </head>
    <body>
    	<header>
		    <h1>env var</h1>
		    <nav>
		    	<ul>
		    		<li>Home</li>
		    		<li>Browse Venues</li>
		    		<li>Inbox</li>
		    	</ul>
		    </nav>
        </header>
        
        <p>Rooms helps you reserve venues. That's it.</p>
        
        <footer>
        	<p>Created by <a href="http://danhakimi.com">Daniel Hakimi</a>, Alex Gaynor, Mark Dube and Curtis Kellty.</p>
        </footer>
    </body>
</html>
