{% extends "base.html" %}

{% block title %}Reserve {{ room.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/timepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript">
        $(function() {
            var options = {
                dateFormat: "yy-mm-dd",
                timeFormat: "hh:mm:ss"
            }
            $("#id_start_time").datetimepicker(options);
            $("#id_end_time").datetimepicker(options);
        });
    </script>
{% endblock %}

{% block body %}
    <form method="post" action="">
        <fieldset>
            <legend>Reserve {{ room.name }}</legend>
            {% csrf_token %}
            {% for field in form %}
                <div class="clearfix{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    <div class="input">
                        {{ field }}
                        <span class="help-inline">
                            {% for error in field.errors %}
                                {{ error }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="actions">
                <input type="submit" class="btn primary" value="Reserve the room" />
            </div>
        </fieldset>
    </form>
{% endblock %}